.box {
  background-image:url("https://i.ytimg.com/vi/cAUIRzgEkX8/hq720.jpg?sqp=-oaymwEXCK4FEIIDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLD51aa9-tbTnm1f-n1xkp6gFzY4JA");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
